* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-weight: 600;
    font-size: 4rem;
    display: block;
    letter-spacing: 1px;
    line-height: 100px;
}

.highlight {
    text-transform: uppercase;
    color: #696969;
}

.task-name, .event-name {
    font-weight: 700;
}

.icons {
    transform: translateY(2px);
    margin: 0 2px;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}