{% extends 'base.html' %}
{% block title %}Add a new event{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == False %}
		<div class="container my-5 py-5">
			<div class="row my-5 py-5 rounded card-shadow">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Add An Event</h1>
					{% if error %}
						<p class="text-danger">{{ error }}</p>
					{% endif %}
					<form action="{% url 'todolist:add_event' %}" method="post">
						{% csrf_token %}

						<div class="mb-3">
							<label for="event_name">Event Name:</label>
							<input 
								type="text" 
								class="form-control" 
								id="event_name"
								name="event_name"
								value="{{ event_name }}" 
								maxlength="50"
								required 
							>
						</div>
						<div class="mb-3">
							<label for="description">Description:</label>
							<input 
								type="text"
								class="form-control"
								id="description"
								name="description"
								value="{{ description }}"
								required 
							>
						</div>
						<div class="mb-3">
							<label for="event_date">Date:</label>
							<input 
								type="date"
								class="form-control"
								id="event_date"
								name="event_date"
								value="{{ event_date }}"
								required 
							>
						</div>
						<div class="text-center">
							<input type="submit" class="btn btn-success w-100" value="Create Event">
						</div>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<img src="{% static 'gif/401 Error Unauthorized.gif' %}" alt="401_unauthorized" class="w-50">
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		</div>
	{% endif %}
{% endblock %}