{% extends 'base.html' %}
{% block title %}Profile updated{% endblock %}
{% load static %}

{% block content %}
	<div class="d-flex flex-column justify-content-center align-items-center gap-3 py-5 my-5">
		{% if is_user_authenticated == False %}
			<h1>Invalid User Credentials!</h1>
			<p>Check if the username and password is correct.</p>
		{% elif error %}
			<h1>{{ error }}</h1>
			<img src="{% static 'gif/Forgot password.gif' %}" alt="password_error">
		{% else %}
			<h1>User Profile Updated!</h1>
			<p>Your details has been updated.</p>
			<img src="{% static 'gif/Personal data.gif' %}" alt="profile_updated_successfully">
		{% endif %}
		<button class="btn btn-primary">
			<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none"><i class='bx bx-arrow-back icons'></i> Back to index</a>
		</button>
	</div>
{% endblock %}