{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
	{% if todoitem_list or events_list and user.is_anonymous == False %}
		<div class="container my-5 py-5">
			<div class="d-flex flex-column my-5 p-5 rounded card-shadow">
				<h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
				<div class="row">
					<h3 class="text-center my-3">My Tasks</h3>
					<ul class="list-group col-lg-2 offset-lg-5 text-center">
						{% if not todoitem_list %}
							<p class="text-center">No tasks have been created.</p>
						{% else %}
							{% for todoitem in todoitem_list %}
								<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
									<li class="list-group-item">{{ todoitem.task_name }}</li>
								</a>
							{% endfor %}
						{% endif %}
					</ul>
					<h3 class="text-center my-3">My Events</h3>
					<ul class="list-group col-lg-2 offset-lg-5 text-center">
						{% if not events_list %}
							<p class="text-center">No events have been created.</p>
						{% else %}
							{% for myevents in events_list %}
								<a href="{% url 'todolist:view_event' myevents.id %}" class="text-decoration-none">
									<li class="list-group-item">{{ myevents.event_name }}</li>
								</a>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
		</div>	    
	{% elif user.is_anonymous == True %}
		<div class="d-flex flex-column justify-content-center align-items-center h-auto my-5 py-5">
			<h1 class="text-center my-3"><span class="title">Create your <span class="highlight">task</span></span> and <span class="title">schedule <span class="highlight">events</span></span></h1>
			<div class="f-flex flex-column my-3">
				<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
				<p class="text-center">Don't have an account yet? Sign up <a href="{% url 'todolist:register_user' %}">here</a></p>
			</div>
		</div>
	{% else %}
		<div class="container my-5 py-5">
			<h1 class="text-center">Start by creating a task or event</h1>
		</div>
	{% endif %}
{% endblock %}