{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
	<div class="container my-5 py-5">
		<div class="row my-5 py-5">
			<div class="col-6 offset-3">
				{% if user.is_anonymous == True %}
					<h1 class="text-center my-4">Login</h1>
					<form action="{% url 'todolist:login' %}" method="post">
						<!-- 
							CSRF Token (Cross site request forgeries) 
							- For making sure that the form request is coming from the same django project. If not, django will block the request.

							Note: ALL forms in django needs a csrf_token.
						-->
						{% csrf_token %}
						
						<div class="mb-3">
							<label for="username">Username:</label>
							<input type="text" class="form-control" id="username" maxlength="20" name="username" value="{{ username }}" required>
						</div>
						<div class="mb-3">
							<label for="password">Password:</label>
							<input type="password" class="form-control" id="password" maxlength="20" name="password" value="{{ password }}" required>
						</div>
						<div class="text-center">
							<input type="submit" class="btn btn-primary w-100" value="login">
						</div>
					</form>
				{% else %}
					<div class="d-flex flex-column justify-content-center align-items-center">
						<h1 class="text-center my-3">You don't have permission to access this resource</h1>
						<img src="{% static 'gif/403 Error Forbidden.gif' %}" alt="401_unauthorized">
						<p class="text-center">Return to <a href="{% url 'todolist:index' %}">index</a></p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}