{% extends 'base.html' %}
{% block title %}Update profile{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == False %}
		<div class="container my-5 py-5">
			<div class="row my-5 py-5 rounded card-shadow">
				<div class="col-6 offset-3">
					{% if is_user_authenticated == False%}
						<h1>Something went wrong</h1>
						<p>Please contact your administrator</p>

						<a href="{% url 'todolist:index' %}">Back to index page</a>
					{% endif %}
					<h1 class="text-center my-3">Profile</h1>
					<form action="{% url 'todolist:update_profile' %}" method="post">
						{% csrf_token %}

						<div class="mb-3">
							<label for="first_name">First name:</label>
							<input 
								type="text" 
								class="form-control" 
								id="first_name"
								name="first_name"
								value="{{ first_name }}" 
								maxlength="50"
								required 
							>
						</div>
						<div class="mb-3">
							<label for="last_name">Last name:</label>
							<input 
								type="text"
								class="form-control"
								id="last_name"
								name="last_name"
								value="{{ last_name }}"
								required 
							>
						</div>
						<h4 class="text-center mt-4">Change password</h4>
						<div class="mb-3">
							<label for="password">Current password:</label>
							<input 
								type="password"
								class="form-control"
								id="password"
								name="password"
							>
						</div>
						<div class="mb-3">
							<label for="new_password">Confirm new password:</label>
							<input 
								type="password"
								class="form-control"
								id="new_password"
								name="new_password"
							>
						</div>
						<div class="text-center">
							<input type="submit" class="btn btn-success w-100" value="Update">
						</div>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<img src="{% static 'gif/401 Error Unauthorized.gif' %}" alt="401_unauthorized" class="w-50">
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		</div>
	{% endif %}
{% endblock %}