{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == True %}
		<div class="container my-5 py-5">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Sign up</h1>
					<form action="{% url 'todolist:register_user' %}" method="post">
						{% csrf_token %}

						<div class="row">
							<div class="mb-3 col-6">
								<label for="first_name">First name:</label>
								<input 
									type="text" 
									class="form-control" 
									id="first_name"
									name="first_name" 
									maxlength="50"
									required 
								>
							</div>
							<div class="mb-3 col-6">
								<label for="last_name">Last name:</label>
								<input 
									type="text"
									class="form-control"
									id="last_name"
									name="last_name"
									required 
								>
							</div>
						</div>
						<div class="mb-3">
							<label for="email">Email address:</label>
							<input 
								type="text"
								class="form-control"
								id="email"
								name="email"
								required 
							>
						</div>
						<div class="row">
							<div class="col-6 mb-3">
								<label for="username">Username:</label>
								<input 
									type="text"
									class="form-control"
									id="username"
									name="username"
									required
								>
							</div>
							<div class="col-6 mb-3">
								<label for="password">Password:</label>
								<input 
									type="password"
									class="form-control"
									id="password"
									name="password"
									required
								>
							</div>
						</div>
						<div class="text-center">
							<input type="submit" class="btn btn-primary w-100" value="Submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
			<h1 class="text-center my-3">You don't have permission to access this resource</h1>
			<img src="{% static 'gif/403 Error Forbidden.gif' %}" alt="401_unauthorized" class="w-50">
			<p class="text-center">Return to <a href="{% url 'todolist:index' %}">index</a></p>
		</div>
	{% endif %}
{% endblock %}