{% extends 'base.html' %}
{% block title %}Registered Successfully{% endblock %}
{% load static %}

{% block content %}
	<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
		{% if is_user_registered == True %}
			<h1>Duplicate User Found!</h1>
			<p>A duplicate user has been found, user creation unsuccessful!</p>
			<img src="{% static 'gif/Computer troubleshooting.gif' %}" alt="duplicate_user">
		{% else %}
			<h1>User Successfully Created!</h1>
			<p>The account for {{ first_name }} {{ last_name }} has been created</p>
			<img src="{% static 'gif/Mobile login.gif' %}" alt="successful_registration">
		{% endif %}
		<button class="btn btn-primary">
			<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Return to index</a>
		</button>
	</div>
{% endblock %}