{% extends 'base.html' %}
{% block title %}Task details{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == True %}
		<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<img src="{% static 'gif/401 Error Unauthorized.gif' %}" alt="401_unauthorized" class="w-50">
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		</div>
	{% else %}
		<div class="container my-5 py-5">
			<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5 card-shadow rounded">
				<div class="d-flex gap-4 my-3">
					<h1 class="align-self-center task-name"><i class='bx bx-task icons'></i>{{ task_name }}</h1>
					<div class="d-flex flex-column gap-1 mx-5">
						<h4><i class='bx bx-detail icons'></i> Description</h4>
						<p>{{ description }}</p>
						<h4><i class='bx bx-check-square icons'></i> Status</h4>
						<p>{{ status }}</p>
						<h4><i class='bx bx-calendar icons'></i> Date created</h4>
						<p>{{ date_created }}</p>
					</div>
				</div>

				<div class="d-flex justify-content-center gap-2">
					<button class="btn btn-primary mx-1 text-decoration-none">
						<a href="{% url 'todolist:update_task' id %}" class="text-light text-decoration-none"><i class='bx bx-edit icons'></i> Edit task</a>
					</button>
					<button class="btn btn-danger mx-1 text-decoration-none">
						<a href="{% url 'todolist:delete_task' id %}" class="text-light text-decoration-none"><i class='bx bx-trash icons'></i> Delete task</a>
					</button>
					<button class="btn btn-success mx-1 text-decoration-none">
						<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none"><i class='bx bx-arrow-back icons'></i> Back to index page</a>
					</button>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}