{% extends 'base.html' %}
{% block title %}Update Task{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == False %}
	<div class="container my-5 py-5">
		<div class="row my-5 py-5 rounded card-shadow">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Update Task</h1>
				{% if error == True %}
					<p class="text-danger">Task not found</p>
				{% endif %}
				<form action="{% url 'todolist:update_task' todoitem_id %}" method="post">
					{% csrf_token %}

					<div class="mb-3">
					    <label for="task_name">Task Name: </label>
					    <input class="form-control" id="task_name" type="text" name="task_name" value="{{ task_name }}" maxlength="50" required>
					</div>

					<div class="mb-3">
					    <label for="description">Description: </label>
					    <textarea class="form-control" name="description" required>{{ description }}</textarea>
					</div>

					<div class="mb-3">
					    <label for="status">Status: </label>
					    <input class="form-control" id="status" type="text" name="status" value="{{ status }}" maxlength="50" required>
					</div>

					<div class="text-center">
				    	<input class="btn btn-success w-100" type="submit" value="Update Task">
					</div>

				</form>
			</div>
		</div>
	</div>
	{% else %}
	<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<img src="{% static 'gif/401 Error Unauthorized.gif' %}" alt="401_unauthorized" class="w-50">
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	</div>
	{% endif %}
{% endblock %}