{% extends 'base.html' %}
{% block title %}Task details{% endblock %}
{% load static %}

{% block content %}
	{% if user.is_anonymous == True %}
		<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5">
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<img src="{% static 'gif/401 Error Unauthorized.gif' %}" alt="401_unauthorized" class="w-50">
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		</div>
	{% else %}
		<div class="container my-5 py-5">
			<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5 rounded card-shadow">
				<div class="d-flex gap-4 my-3">
					<h1 class="align-self-center event-name"><i class='bx bx-calendar-event icons'></i> {{ event_name }}</h1>
					<div class="d-flex flex-column gap-1 mx-5">
						<h3><i class='bx bx-detail icons'></i> Description</h3>
						<p>{{ description }}</p>
						<h3><i class='bx bx-check-square icons'></i> Status</h3>
						<p>{{ status }}</p>
						<h3><i class='bx bx-calendar icons'></i> Date</h3>
						<p>{{ event_date }}</p>
					</div>			
				</div>
			
				<button class="btn btn-success mx-1 text-decoration-none">
					<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none"><i class='bx bx-arrow-back icons'></i> Back to Events</a>
				</button>
			</div>
		</div>
	{% endif %}
{% endblock %}